<h1>タスク新規作成ページ</h1>

<%= form_with(model: @task) do |f| %> <!--フォームの作成--> 
  <%= f.label :content, "タスク" %> <!--ラベル-->
  <%= f.text_field :content %> <!--入力欄-->
  
  <%= f.label :status, "ステータス" %>
  <%= f.text_field :status %>
  
  <%= f.submit "新規作成" %>
<% end %>

<%= link_to "トップページに戻る", root_path %>

<!---->