<%= form_with(model: @user) do |f| %> <!--フォームを作成-->

  <section class="name">
    <%= f.label :name, "お名前" %>
    <%= f.text_field :name, class: "form-control" %>
  </section>
  <section class="email">
    <%= f.label :email, "Eメール" %>
    <%= f.text_field :email, class: "form-control" %>
  </section>
    
  <section class="password">
    <%= f.label :password, "パスワード" %>
    <%= f.text_field :password, class: "form-control" %>
  </section>
  <section class="password_confirmation">
    <%= f.label :password_confirmation, "パスワード再入力" %>
    <%= f.text_field :password_confirmation, class: "form-control" %>
  </section>
  
  <%= f.submit "ユーザ登録" %>
<% end %>